*{ /*para PC*/
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #333;
    background: url(img/fundo\ 3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
main{
    height: 100%;
    width: 80%;
    margin: auto;
}
.apresentacao{
   display: inline-block;
   margin: 20px ;
  
}
.apresentacao h1{
  font-family: 'Poppins', sans-serif; /* Use a fonte da imagem ou uma semelhante */
  font-size: 3rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold; /* Deixa o texto em negrito */

  border-bottom: 2.5px solid;
  border-image-source: linear-gradient(to right, #3392ff 30%, rgba(255, 255, 255, 0.445), transparent); 
  border-image-slice: 1;

  background: linear-gradient(to right, #ffffff, #a3d8ff); /* Ajuste as cores se necessário */
  -webkit-background-clip: text; /* Recorta o gradiente para o texto */
  -webkit-text-fill-color: transparent; /* Torna o preenchimento original transparente */
  text-shadow: 0 0 10px rgba(0, 150, 255, 0.3); /* Ajuste a cor e intensidade do brilho */
}
.apresentacao p{
  padding: 7px 0px;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.2rem; 
  color: #e0e0e0; 
  letter-spacing: 2px;
}
/*linguagens*/
.linguagens{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    height: 200px;
    transition-duration: 1s;
    justify-content: end;
    margin:20px;
}
.html{
    margin-top: 20px;
    transition-duration: 1s;
}
.css{
    transition-duration: 1s;
}
.js{
    margin-top: 30px;
    transition-duration: 1s;
}
 .imghtml, .imgcss, .imgjs{
    width: 100px;
}
.html:hover, .css:hover, .js:hover{
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;

}
/*projetos*/
.projetos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    justify-content: center;
    margin: 20px;
}
.projeto1, .projeto2{
    transition-duration: 1s;
}
.projeto1:hover, .projeto2:hover{
    transform: scale(1.1); 
}
.projetos .tituloProjeto{
    color: #a3d8ff;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 3px;
}
.projetos .imgP{
    background-color: rgba(255, 255, 255, 0.486);
    width: 230px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid white;
}
.projetos .nomeProjeto {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}
.projetos .nomeProjeto a{
    text-decoration: none;
    color: #c6f2ff;
}
.contato{
    display: flex;
    flex-direction: row;
}
@media(max-width: 1050px){
    .apresentacao, .linguagens, .projetos, .contato{
        justify-content: center;
    }
    .projetos{
        gap: 10px;
    }
    .linguagens{
        height: 150px;
        justify-content: center;
    }
    .imghtml, .imgcss, .imgjs{
        width: 80px;
    }

}
